.cms-home .header-container + .banner
    margin-top: -16px

    img
        width: 100%
        height: 100%
        object-fit: cover

.banner
    img
        min-width: 100%
        object-fit: cover

.banner--nojs .banner__wrapper
    margin: -10px
    column-count: 1

    .banner
        &__item
            padding: 10px

    @media (min-width: 500px)
        column-count: 2

#banner__home_banner_mosaico
    padding-bottom: 20px

#banner__homeregua
    @extend $container