.cms-home .header-container + .banner
    margin-top: -16px

    img
        width: 100%
        height: 100%
        object-fit: cover

.banner
    img
        min-width: 100%
        object-fit: cover

.banner--nojs .banner__wrapper
    margin: -10px
    column-count: 1

    .banner
        &__item
            padding: 10px

    @media (min-width: 500px)
        column-count: 2

#banner__home_banner_mosaico
    padding-bottom: 20px

#banner__homeregua
    @extend $container

.banner-html
    background: #f9f8f8
    color: #c9d5e1
    font-weight: regular
    font-size: 20px

    h3
        font-weight: medium
        font-size: 40px
        line-height: 1.2

    h4
        font-weight: medium
        font-size: 55px
        line-height: 1.2

    .slide__html
        max-height: 100%

    > a
        display: none

    img
        min-width: 0
        max-height: 90% !important
        width: auto !important
        height: auto !important
        object-fit: contain !important

    &__container
        margin: 0 auto
        max-width: calc(100% - 30px)
        width: 980px
        height: 100%

    &__price
        color: #a2e600
        font-weight: medium
        font-size: 86px

    &__actions
        a
            display: inline-flex
            justify-content: center
            align-items: center
            padding: 0 15px
            min-width: 230px
            height: 35px
            border-radius: 35px
            background: #a2e600
            color: #fff
            font-size: 20px

@media (min-width: 993px)
    .banner-html img
        align-self: flex-end

    .banner-html__container
        display: flex
        justify-content: space-between
        align-items: stretch

    .banner-html__content
        flex: 1
        min-width: 0