<div class="banner-html__container">
    <img src="https://www.oticagreen.com.br/media/interface/images/banner-html-image.png" class="banner-html__image" />
    <div class="banner-html__content">
        <div class="banner-html__inner">
            <h3>Armações</h3>
            <h4>Preço unico</h4>
            <div class="banner-html__price">
                R$ 49,00
            </div>
            <div class="banner-html__description">
                na compra do par de lentes *
            </div>
            <div class="banner-html__actions">
                <a href="#">Masculinos</a>
                <a href="#">Femininos</a>
            </div>
        </div>
    </div>
</div>