<div class="descriptions">
    <div class="descriptions__bg">
        <div class="descriptions__container">
            <div class="descriptions__text descriptions__text--big">
                Fale sobre versátil. As lentes quadradas e
                arredondadas de Felix (e sua ponte de
                fechadura sutilmente esculpida)
                ficam ótimas em várias faces!
            </div>
            <ul class="descriptions__list ul--0">
                <li>Feito de acetato de celulose polido à mão</li>
                <li>Parafusos revestidos com Akulon para maior durabilidade</li>
            </ul>
        </div>
    </div>
    <div class="descriptions__white">
        <div class="descriptions__container">
            <div class="descriptions__content">
                <h3 class="descriptions__title">Flx está disponível em uma largura média</h3>
                <div class="descriptions__text">
                    Se o seu rosto tiver tamanho médio, que
                    é a opção mais comum, esse quadro deve
                    se encaixar bem em você.
                </div>
            </div>
            <div class="descriptions__image">
                <img src="http://oticagreen.loja.biz/index.php/painel/cms_wysiwyg/directive/___directive/e3ttZWRpYSB1cmw9Ind5c2l3eWcvcHJvZHV0b3Mvb2N1bG9zLW1lZGlvLmpwZyJ9fQ,,/key/406773158d0a9ada4d9b749e1f72a77a/" />
            </div>
        </div>
    </div>
    <div class="descriptions__bg">
        <div class="descriptions__container">
            <div class="descriptions__image">
                <img src="http://oticagreen.loja.biz/index.php/painel/cms_wysiwyg/directive/___directive/e3ttZWRpYSB1cmw9Ind5c2l3eWcvcHJvZHV0b3Mvb2N1bG9zLnBuZyJ9fQ,,/key/406773158d0a9ada4d9b749e1f72a77a/">
            </div>
            <div class="description__content">
                <h3 class="descriptions__title">Oferecemos uma variedade de tipos de lentes e prescrição</h3>
                <div class="descriptions__table">
                    <h3 class="descriptions__head">Tipo de Prescrição</h3>
                    <div class="descriptions__main">
                        <p>Single-vision</p>
                        <p>Progressives</p>
                        <p>Readers</p>
                        <p>Non-prescription</p>
                    </div>
                </div>
                <div class="descriptions__table">
                    <h3 class="descriptions__head">Tipo de Lente</h3>
                    <div class="descriptions__main">
                        <p>Classic</p>
                        <p>Blue-light-filtering</p>
                        <p>Light-responsive</p>
                    </div>
                </div>
                <div class="descriptions__table">
                    <h3 class="descriptions__head">Material de Lente</h3>
                    <div class="descriptions__main">
                        <p>Polycarbonate</p>
                        <p>1.67 high-index</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="descriptions__white">
        <div class="descriptions__container descriptions__container--no-flex">
            <h3 class="descriptions__title">
                <img src="http://oticagreen.loja.biz/index.php/painel/cms_wysiwyg/directive/___directive/e3ttZWRpYSB1cmw9Ind5c2l3eWcvcHJvZHV0b3Mvc2VndXJhbmNhLmpwZyJ9fQ,,/key/406773158d0a9ada4d9b749e1f72a77a/" >
                <span>Certificados e Garantia</span>
            </h3>
            <div class="descriptions__text descriptions__text--medium">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
    </div>
</div>