/*
 * Global
 * Elementos globais que podem ser extendidos ao longo do documento
 */
.container
    @extend $container

/*
 * Base
 * Estilo base do elementos do Html
 */
body
    font-family: font

html, body, .wrapper-container, .wrapper
    min-height: 100%

.wrapper-container
    overflow: visible

.js-stickybit-parent
    padding-top: 140px

/*
 * Components
 * Componentes que se adaptam ao contexto
 */
/*
 * Component - Menssagens
 */
.messages
    > li
        display: block
        margin-bottom: 20px
        padding: 15px 30px
        font-weight: bold
        font-size: 12px

    .success-msg
        border: 0
        border-radius: 5px
        background: #b9f606
        box-shadow: none
        color: color1_bg_hover
        text-transform: uppercase

    .error-msg
        border: 1px solid #d92100
        background: #ffdcdc
        color: #d92100

    .notice-msg
        border: 1px solid #f7be07
        background: #f9f0d5
        color: #f7be07

// Container
.header, .main, .footer
    @extend $container

.categories .ul--0
    max-width: viewport

.main-container
    min-height: 0

.wrapper
    display: flex
    flex-flow: column nowrap

    svg, .btn .ico, button .ico
        fill: currentColor

        path
            fill: currentColor

.footer-container
    margin-top: auto
