.coupon
    .cart__boxes &
        margin-top: 15px
        box-shadow: none

        .title
            margin-bottom: 15px
            text-transform: none
            font-weight: medium
            font-size: 14px

        &__form
            border-radius: 5px
            background: #f1f3f6

            .input-text
                padding-left: 20px !important
                height: 58px
                border: 0 !important
                background: none
                box-shadow: none

            button
                height: 58px
                border: 0
                background: none
                box-shadow: none
                color: color1_bg
                text-transform: none
                font-weight: bold
                font-size: 16px

                &:before
                    content: 'ok'

                span
                    display: none