.filters
    @media (max-width: 992px)
        &__filter
            .count
                color: #fff

    @media (min-width: 993px)
        padding: 20px 0 0
        width: 100%

        > .title
            display: none

        &__filtered
            display: none

        &__name
            display: flex
            justify-content: center
            align-items: center
            margin: 0
            padding: 0 20px
            height: 40px
            border-radius: 40px
            background: #fff
            color: color1_bg_hover
            text-transform: uppercase
            font-weight: medium
            font-size: 13px
            line-height: 1

        &__filter
            position: relative
            margin: 0
            padding: 10px
            background: none
            box-shadow: none

            .a--0
                &, .count
                    color: color1_bg
                    font-weight: regular
                    font-size: 12px

                &:hover
                    font-weight: bold

            > ul, > ol, .filters__swatches
                position: absolute
                top: 100%
                left: 50%
                padding: 20px
                min-width: 200px
                border: solid 1px #e3e7ee
                border-radius: 2px
                background: #fff
                text-align: center
                opacity: 0
                transform: translateX(-50%)

                &:before
                    position: absolute
                    top: -6px
                    left: 50%
                    width: 10px
                    height: 10px
                    border-top: solid 1px #e3e7ee
                    border-left: solid 1px #e3e7ee
                    background: #fff
                    content: ''
                    transform: translateX(-50%) rotate(45deg)

            &:hover
                box-shadow: none

                .filters__name
                    background: #b7e529
                    cursor: pointer

                ul, ol, .filters__swatches
                    opacity: 1

        &__list
            display: flex
            align-items: center

            &:before
                color: color1_bg
                content: 'Filtrar por'
                font-weight: bold
                font-size: 13px