.header
    &-container
        position: sticky
        top: 0
        background: #fff

        .opc &
            margin: 0 0 20px
            padding: 15px 0
            background: #fff

        @media (max-width: 568px)
            &.up
                transform: translateY(-52px)

        @media (min-width: 569px)
            &.up
                transform: translateY(-80px)

    @media (min-width: 993px)
        position: relative
        z-index: 200
        margin-bottom: 0 !important
        padding: 10px
        background: #fff
        box-shadow: 800px 0 0 #fff, -800px 0 0 #fff

        &-container
            background: none
            box-shadow: none