.mymenu
    .footer &
        .a--0
            color: #fff
            font-weight: medium
            font-size: 13px

        [href^='#']
            pointer-events: none

        @media (max-width: 992px)
            .li--0
                text-align: center

        @media (min-width: 993px)
            .a--0
                &:hover
                    color: color1_bg_hover