.price-box
    .products &
        .regular-price, .special-price, .minimal-price
            .label
                display: none

            .price span
                color: color1_bg
                font-weight: regular
                font-size: 16px

        .old-price
            display: none