.shipping
    .cart__boxes &
        margin-top: 15px
        box-shadow: none

        .title
            margin-bottom: 15px
            text-transform: none
            font-weight: medium
            font-size: 14px

        &__form
            border-radius: 5px
            background: #f1f3f6

        &__postcode
            .input-text
                border: 0 !important
                background: none

            label
                padding-left: 10px
                font-size: 0

                &:before
                    color: color1_bg
                    content: 'Cep'
                    font-weight: medium
                    font-size: 14px

        button
            height: 58px
            border: 0
            background: none
            box-shadow: none
            color: color1_bg
            text-transform: none
            font-weight: bold
            font-size: 16px

            &:before
                content: 'ok'

            span
                display: none