.col-main .category-image, .category-title
    display: none

.category-image
    img
        min-width: 100%
        object-fit: cover

.catalog-category-view
    @media (min-width: 993px)
        .col-main
            display: contents

        .main
            display: grid
            grid-template-areas: 'filters toolbar' 'main main'
            grid-template-columns: 2fr 1fr

            &-container
                box-shadow: inset 0 100px 0 #f2f4f7

        .col-left
            margin: 0
            padding: 0
            max-width: none
            grid-area: filters

        .toolbar
            grid-area: toolbar

        .category__products
            grid-area: main

        .toolbar-bottom
            display: none
